## Business-specific
#### In the assets directory, you will see a very small dataset called europe_capitals_population_and_area.csv. A gluten-free restaurant wants to open a new restaurant in a European capital where gluten-free restaurants are underrepresented. Assuming there are no other factors, except population and gluten-free restaurant density, what would be the top 5 capitals to open that restaurant?
#### Think and propose a couple of other ways this dataset could be used to help businesses.

In [1]:
import pandas as pd

#### 1. A gluten-free restaurant wants to open a new restaurant in a European capital where gluten-free restaurants are underrepresented. Assuming there are no other factors, except population and gluten-free restaurant density, what would be the top 5 capitals to open that restaurant?

In [3]:
# Load the capitals data into a pandas dataframe
capitals = pd.read_csv("europe_capitals_population_and_area.csv", delimiter=";")

In [4]:
capitals.head(5)

   CityNo        City     Country  Population Area in km2
0       1   Amsterdam  Netherland      851573       219,32
1       2      Athens      Greece      664046         2929
2       4   Barcelona       Spain     1620809        101,4
3       4      Berlin     Germany     3711930        891,7
4       5  Bratislava    Slovakia      424428        367,6

In [5]:
df = pd.read_csv("dataset.csv")

C:\Users\pcc\AppData\Local\Temp\ipykernel_7092\1745420125.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("dataset.csv")

In [6]:
df.head()

,restaurant_link,restaurant_name,original_location,country,region,province,city,address,latitude,longitude,...,excellent,very_good,average,poor,terrible,food,service,value,atmosphere,keywords
0,g10001637-d10002227,Le 147,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"10 Maison Neuve, 87510 Saint-Jouvent France",45.961674,1.169131,...,2.0,0.0,0.0,0.0,0.0,4.0,4.5,4.0,NaN,NaN
1,g10001637-d14975787,Le Saint Jouvent,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Ha...",France,Nouvelle-Aquitaine,Haute-Vienne,Saint-Jouvent,"16 Place de l Eglise, 87510 Saint-Jouvent France",45.957040,1.205480,...,2.0,2.0,1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,g10002858-d4586832,Au Bout du Pont,"[""Europe"", ""France"", ""Centre-Val de Loire"", ""B...",France,Centre-Val de Loire,Berry,Rivarennes,"2 rue des Dames, 36800 Rivarennes France",46.635895,1.386133,...,3.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,g10002986-d3510044,Le Relais de Naiade,"[""Europe"", ""France"", ""Nouvelle-Aquitaine"", ""Co...",France,Nouvelle-Aquitaine,Correze,Lacelle,"9 avenue Porte de la Correze 19170, 19170 Lace...",45.642610,1.824460,...,1.0,0.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN
4,g10022428-d9767191,Relais Du MontSeigne,"[""Europe"", ""France"", ""Occitanie"", ""Aveyron"", ""...",France,Occitanie,Aveyron,Saint-Laurent-de-Levezou,"route du Montseigne, 12620 Saint-Laurent-de-Le...",44.208860,2.960470,...,4.0,7.0,0.0,0.0,0.0,4.5,4.5,4.5,NaN,NaN

In [7]:
# merge the two datasets on the 'City' column
merged_df = pd.merge(capitals, df, left_on='City', right_on='city')

In [8]:
merged_df.columns

Index(['CityNo', 'City', 'Country', 'Population', 'Area in km2 ',
       'restaurant_link', 'restaurant_name', 'original_location', 'country',
       'region', 'province', 'city', 'address', 'latitude', 'longitude',
       'claimed', 'awards', 'popularity_detailed', 'popularity_generic',
       'top_tags', 'price_level', 'price_range', 'meals', 'cuisines',
       'special_diets', 'features', 'vegetarian_friendly', 'vegan_options',
       'gluten_free', 'original_open_hours', 'open_days_per_week',
       'open_hours_per_week', 'working_shifts_per_week', 'avg_rating',
       'total_reviews_count', 'default_language',
       'reviews_count_in_default_language', 'excellent', 'very_good',
       'average', 'poor', 'terrible', 'food', 'service', 'value', 'atmosphere',
       'keywords'],
      dtype='object')

In [9]:
merged_df["gluten_free"].head()

0    N
1    N
2    N
3    N
4    N
Name: gluten_free, dtype: object

In [10]:
merged_df['gluten_free'] = merged_df['gluten_free'].replace({'Y': 1, 'N': 0})

In [11]:
merged_df['gluten_free'] = merged_df['gluten_free'].astype(float)

In [12]:
merged_df['gluten_free']

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
95967    0.0
95968    0.0
95969    1.0
95970    0.0
95971    0.0
Name: gluten_free, Length: 95972, dtype: float64

In [13]:
merged_df['gluten_free_restaurants'] = merged_df.groupby('City')['gluten_free'].transform('sum')

In [14]:
merged_df['gluten_free_restaurants']

0        622.0
1        622.0
2        622.0
3        622.0
4        622.0
         ...
95967    413.0
95968    413.0
95969    413.0
95970    413.0
95971      0.0
Name: gluten_free_restaurants, Length: 95972, dtype: float64

In [15]:
# calculate the gluten-free restaurant density by dividing the number of gluten-free restaurants by the population
merged_df['gluten_free_density'] = merged_df['gluten_free_restaurants'] / merged_df['Population']

In [16]:
merged_df.head(1)

,CityNo,City,Country,Population,Area in km2,restaurant_link,restaurant_name,original_location,country,region,...,average,poor,terrible,food,service,value,atmosphere,keywords,gluten_free_restaurants,gluten_free_density
0,1,Amsterdam,Netherland,851573,"219,32",g188590-d10021431,Yum Yum Thai,"[""Europe"", ""The Netherlands"", ""North Holland P...",The Netherlands,NaN,...,4.0,1.0,1.0,3.5,3.5,3.5,NaN,NaN,622.0,0.00073

In [17]:
# sort the dataframe by gluten-free restaurant density in ascending order
merged_df = merged_df.sort_values('gluten_free_density')

In [18]:
top_5_cities = merged_df.drop_duplicates(subset='City', keep='first')

In [19]:
top_5_cities.columns

Index(['CityNo', 'City', 'Country', 'Population', 'Area in km2 ',
       'restaurant_link', 'restaurant_name', 'original_location', 'country',
       'region', 'province', 'city', 'address', 'latitude', 'longitude',
       'claimed', 'awards', 'popularity_detailed', 'popularity_generic',
       'top_tags', 'price_level', 'price_range', 'meals', 'cuisines',
       'special_diets', 'features', 'vegetarian_friendly', 'vegan_options',
       'gluten_free', 'original_open_hours', 'open_days_per_week',
       'open_hours_per_week', 'working_shifts_per_week', 'avg_rating',
       'total_reviews_count', 'default_language',
       'reviews_count_in_default_language', 'excellent', 'very_good',
       'average', 'poor', 'terrible', 'food', 'service', 'value', 'atmosphere',
       'keywords', 'gluten_free_restaurants', 'gluten_free_density'],
      dtype='object')

In [20]:
# select the top 5 cities with the lowest gluten-free restaurant density
top_5_cities = top_5_cities[["City","Population","gluten_free_density"]].head(5)

In [21]:
top_5_cities

             City  Population  gluten_free_density
95971      Zurich      409241             0.000000
26334        Lyon      506615             0.000107
7837   Bratislava      424428             0.000158
50636      Munich     1456039             0.000176
95970      Vienna     1889083             0.000219

#### 2. Think and propose a couple of other ways this dataset could be used to help businesses.

The first dataset could be used by businesses to identify potential target markets for their products or services. By analyzing the population and GDP per capita of different countries, businesses can determine which countries may have the highest demand for their products. They can then use this information to focus their marketing efforts and expand into these markets.

The first dataset could also be used by businesses to evaluate the potential for success in different countries. By analyzing the GDP per capita of different countries, businesses can determine which countries may have the highest disposable income and may therefore be more likely to purchase their products.

The second dataset (Europe's Capitals and Population) could be used by businesses to identify potential locations for new stores or offices. By analyzing the population and land area of different cities within a country, businesses can determine which cities have the highest population density and may therefore have the highest demand for their products or services. They can then use this information to choose the best location for their new store or office.

The second dataset could be used by businesses to compare the cost of operating in different cities. By analyzing the land area of different cities, businesses can determine which cities have the highest cost of land and therefore the highest costs of operating. They can then use this information to choose the most cost-effective location for their business operations.